 .overlay-loader {
	display: block;
	margin: auto;
	width: 97px;
	height: 97px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 97px;
	height: 97px;
	animation-name: rotateAnim;
		-o-animation-name: rotateAnim;
		-ms-animation-name: rotateAnim;
		-webkit-animation-name: rotateAnim;
		-moz-animation-name: rotateAnim;
	animation-duration: 0.4s;
		-o-animation-duration: 0.4s;
		-ms-animation-duration: 0.4s;
		-webkit-animation-duration: 0.4s;
		-moz-animation-duration: 0.4s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}
.loader div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid rgb(0,0,0);
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
.loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
.loader div:nth-child(2) {
	border-width: 2px;
	left: 0px;
	top: -4px;
	width: 12px;
	height: 12px;
}
.loader div:nth-child(3) {
	border-width: 2px;
	left: -1px;
	top: 3px;
	width: 18px;
	height: 18px;
}
.loader div:nth-child(4) {
	border-width: 3px;
	left: -1px;
	top: -4px;
	width: 23px;
	height: 23px;
}
.loader div:nth-child(5) {
	border-width: 3px;
	left: -1px;
	top: 4px;
	width: 31px;
	height: 31px;
}
.loader div:nth-child(6) {
	border-width: 4px;
	left: 0px;
	top: -4px;
	width: 39px;
	height: 39px;
}
.loader div:nth-child(7) {
	border-width: 4px;
	left: 0px;
	top: 6px;
	width: 49px;
	height: 49px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.container-fluid{
	background-color: #000;
	color: #fff;
}

.carousel-caption h1{

	border-radius: 25px;
	border: 2px solid #0964D4;
	width: 450pt;
	background-color:#0964D4;
}

#welcome{
	

}	

.navbar-right ul li{
	
	margin-bottom: 20px;
}
.carousel-caption h4{
	margin-top: 15pt;
	margin-bottom: 10pt;
	
}
.carousel-caption h4 a {
	text-decoration: none;
	color:#fff;
}
.carousel-caption a{
	background-color: green;
	padding: 10px;

}
  .carousel-caption a:hover{
  	background-color: 	#0000ff;
  }
.form-group a{
	list-style: none;
	text-decoration: none;
	color:#00FF09;
	
}
.form-group button,label{
	margin-bottom: 13px;
}
.form-reg{
	width: 300px;
}

.first-row{
	background-color: #01A4E4;
	color:#fff;
	padding: 15pt;
}
.first-row a {
	color:#fff;
	background-color: green;
	font-size: 14px;
	font-weight: bold;
}

.first-row a:hover{

	color:red;
}


 .bs-example{
 	
 }
.Signup {
	padding: 10px 120px 30px 40px;
}

.form-second{
	width: 600px;
	position: relative;
	padding: 30pt;
	color:#333;
}

<!--about us -->
.Service-part{
	padding: 30pt;
	

}
span.service-head{

       padding: 10pt;
       font-weight: bold;
       font-size: 24px;
      color: #fff;
       
}
.heading{

	width: 150pt;
	border-radius: 10px;
    border: 2px solid #a1a1a1;
    background-color: #0964D4;
    margin-bottom: 15pt;
    position:relative;
    left: 30%;

}

.wrapper1{
	 width: 400px;
    height: 321px;
	box-shadow: 0px 0px 25px black;
	border : 2px solid #fff;
	overflow: hidden;
}
.wrapper1 img{
	width: 100%;
	height: 100%;
	transition: transform 3000ms;
}

.content1 {
	 width: 563px;
    height: 321px;
    background-color: #000;
    opacity: 0.6;
    transition: transform 300ms;
    position: relative;
}

.wrapper1:hover .content1{

	transform: translateY(-315px);
}

.text-area1{
	color: #000;
	width: 100%;
	height: 100%;
	background-color: #38947d;
	padding: 10px; 
	
	padding-top: 10px;
	position: absolute;
	margin-top: 200px;
	font-weight: bold;
	font-size: 16px;
	font-family: helvetica;
	cursor: pointer;
	display: none;
}
.text-area1 p{
	color: #fff;
}

.wrapper1:hover .text-area1{
	display: block;
}

.wrapper1:hover img{
	transform: scale(2,2) rotate();
}
.text-area1 ul{
	margin-top: -15pt;
}

.text-area1 li{
	display: inline-block;
    padding-top: 20px;
}
.text-area1 li a{
	padding: 8px 12px;
    
    border: 1px solid #fff;
    color: #666;
    font-size: 16px;
}

.text-area1 li:hover a {
	background: transparent;
    border: 1px solid #ddd;
    color: #fff;
}
.text-area1 ul li a {
	color: black;
}



<!--end of about us-->

<!--start of service -part-->

 
<!--end of service part-->

 <!--start course part -->
   .wrapper3 img {
	width: 100%;
	height: 100%;
	transition: transform 3000ms;
}
.wrapper3{
    width: 1150px;
    height: 430px;
	box-shadow: 0px 0px 25px black;
	border : 10px solid #fff;
	overflow: hidden;

}

.content3{
  
    width: 1150px;
    height: 430px;
    background-color:#000;
    opacity: 0.4;
    transition: transform 300ms;
    position: relative;
	
}

.wrapper3:hover .content3{

	transform: translateY(-590px);
}
.text-area3{
	color: #fff;
	width: 100%;
	height: 40px;
	background:#00300a;
	padding: 10px; 
	text-align: center;
	padding-top: 10px;
	position: absolute;
	margin-top: 200px;
	font-weight: bold;
	font-size: 16px;
	font-family: helvetica;
	cursor: pointer;
	display: none;
}
.wrapper3:hover .text-area3{
	display: block;
}

.wrapper3:hover img{
	transform: scale(2,2) rotate(360deg);
}

 .col-md-game a{
 	text-decoration: none;
 	background-color:#660000;

 }
 .col-md-game {
 		margin-bottom: 40pt;
 }
 .col-md-game a:hover{
 	
 	background-color:#f90606;
 }


.first-course,.second-course{
     margin-bottom: 30px;
     
}
 
  .wrapper4 img {
	width: 100%;
	height: 100%;
	transition: transform 3000ms;
}
.wrapper4{
    width: 1150px;
    height: 430px;
	box-shadow: 0px 0px 25px black;
	border : 10px solid #fff;
	overflow: hidden;

}

.content4{
  
    width: 1150px;
    height: 430px;
    background-color:#000;
    opacity: 0.4;
    transition: transform 300ms;
    position: relative;
	
}

.wrapper4:hover .content4{

	transform: translateY(-430px);
}
.text-area4{
	color: #fff;
	width: 100%;
	height: 40px;
	background:#00300a;
	padding: 10px; 
	text-align: center;
	padding-top: 10px;
	position: absolute;
	margin-top: 200px;
	font-weight: bold;
	font-size: 16px;
	font-family: helvetica;
	cursor: pointer;
	display: none;
}
.wrapper4:hover .text-area4{
	display: block;
}

.wrapper4:hover img{
	transform: scale(2,2) rotate(15deg);
}

 .wrapper5 img {
	width: 100%;
	height: 100%;
	transition: transform 3000ms;
}
.wrapper5{
    width: 1150px;
    height: 430px;
	box-shadow: 0px 0px 25px black;
	border : 10px solid #fff;
	overflow: hidden;

}

.content5{
  
    width: 1150px;
    height: 430px;
    background-color:#000;
    opacity: 0.4;
    transition: transform 300ms;
    position: relative;
	
}

.wrapper5:hover .content5{

	transform: translateY(-430px);
}
.text-area5{
	color: #fff;
	width: 100%;
	height: 40px;
	background:#00300a;
	padding: 10px; 
	text-align: center;
	padding-top: 10px;
	position: absolute;
	margin-top: 200px;
	font-weight: bold;
	font-size: 16px;
	font-family: helvetica;
	cursor: pointer;
	display: none;
}
.wrapper5:hover .text-area5{
	display: block;
}

.wrapper5:hover img{
	transform: scale(2,2) rotate(15deg);
}
  #our-course h1 {
  	width: 150pt;
  	background-color:#0964D4;
  	color: #fff;
  	position: relative;
  	left: 26%;
  	border-radius: 10px;
  }
<!--course part-->



/*------------------------------------------------------ */
/* Start Feature Section                              */
/*------------------------------------------------------ */


.services-section {
    padding-top: 80px;
    padding-bottom: 20px;
}
.feature-section {
    padding-top: 100px;
}

.feature, .feature-2, .feature-3 {
    padding-bottom: 80px;
}

.feature, .feature-3 {
    text-align: center;
}
.feature h4,
.feature-3 h4 {
    font-size: 15px;
    color: #666;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature-2 h4{
    font-size: 15px;
    color: #666;
    padding-bottom: 10px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.feature p, 
.feature-2 p,
.feature-3 p {
    color: #444;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

.feature i,
.feature-3 i {
    font-size:2.5em;
    width: 80px;
    height: 80px;
   padding:25px;
    margin-bottom: 10px;
   position: relative;
}

.feature i {
    color:#fff;
	box-shadow: 0 0 0 30px transparent;
	-webkit-transform: translate3d(2, 2, 2);
	-moz-transform: translate3d(2, 2, 2);
	-o-transform: translate3d(2, 2, 2);
	transform: translate3d(2, 2, 2);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}
.no-touch .feature:hover i,
	.no-touch .feature:active i,
	.no-touch .feature:focus i {		
		
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
}

.feature-3 i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.feature-3:hover .border {
    margin: 0 35%;
}

.feature-2 i {
   font-size:2.5em;
    color: #fff;
    width: 70px;
    height: 70px;
   padding:20px;
   position: relative;
    
}

.feature-2 .media-body {
    margin-left: 25px !important;
}

.feature-2 .border {
    margin-top: 20px;
    margin-left: 49.999%;
    margin-right: 49.999%;
	border-color: #fff;
}

.feature-2:hover .border {
    margin-left: 0%;
    margin-right: 0%;
}

.text-center{
	
	width: 150pt;
	position: relative;
	left: 26%;
	padding: 20px;
	border: 2px solid #a1a1a1;
    
    background:#0964D4;
   
    border-radius: 15px;
    margin-bottom: 10pt;
    color: #fff;
}

.media-body a{
	text-decoration: none;
	
	color: #fff;
}
.media-body a:hover{
	background-color: 	#661a00;
}


#image_part{
	background:url('images/Laptop-Wallpaper-HD-Desktop.jpg');
	background-size:cover;
	height: 90vh;
}
.tranning-part{
	
	margin-bottom: 5pt;
	
}
.web-trani a{
	list-style: none;
	text-decoration: none;
	color: #fff;
}
.game-tran{
	margin-top: 15px;
}

.web-lim{
	border-bottom: 2px dotted #fff;
}
.android-user{
	margin-top: 15px;
}
.game-user{
	border-bottom: 2px dotted #fff;
}
.col-md-game a {
	text-decoration: none;
	color:#fff;
	padding: 10px;
}
.col-md-android a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.andro-user{
	border-bottom: 2px dotted #fff;
}

#slideshows{
	width:500px;
	margin:15pt auto;
	height: 350px;
}
#slideshows img{
	width:100%;
	height: 350px;
	
	
}
#addres-part{
	background-color: #282320;
}

#myCarousel{
	margin-top: -15pt;
}
.Mission-official{
	margin-bottom: 80pt;
}
#image_part2{

   background:url('images/contact.jpg');
	background-size:cover;
	height: 100%
}
.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}

#contact-us {
    padding: 80px 0 0;
    background-color: #2B2C30;
    color: #fff;
}

.form-group {
	width: 300px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.contact-details{
	color:#fff;
	padding: 30px;
}

.social-icon {
    padding: 60px 0 35px;
}

.social-icon > ul {
    text-align: center;
}

.social-icon > ul > li {
    display: inline-block;
    margin-right: 20px;
}

.social-icon > ul > li > a {
    background-color: #26292e;
    display: block;
    height: 70px;
    width: 70px;

	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		 -o-transform: rotateY(180deg);
			transform: rotateY(180deg);

	-webkit-transition: all 400ms ease-out 0s;
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
			transition: all 400ms ease-out 0s;
}

.social-icon > ul > li > a > i {
    color: #55606a;
    display: inline-block;
    font-size: 32px;
    line-height: 70px;
    margin: 0;

    opacity: 0.3;
    filter: alpha(opacity=30);

	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		 -o-transform: rotateY(180deg);
			transform: rotateY(180deg);

	-webkit-transition: all 400ms ease-out 0s;
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
			transition: all 400ms ease-out 0s;
}

.social-icon > ul > li:hover a {
    background-color: #6CB670;
	
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		 -o-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

.social-icon > ul > li:hover a i {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		 -o-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

#contact-us {
    padding: 70px 0 0;
}

.contact-form {
	margin-bottom: 40px;
}

.contact-form .form-control {
	background-color: transparent;
	border: 1px solid #4e595f;
	height: 38px;
}

.contact-form input:hover, 
.contact-form textarea:hover,
#contact-submit:hover {
    border-color: #6CB670;
}
#cf-submit{
	width: 210pt;
}

#contact-submit {
	border: 1px solid #4e595f;
	padding: 12px 0;
	width: 100%;
	margin: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px;
}

.contact-info p {
	margin-bottom: 25px;
}

.con-info {
    margin-bottom: 20px;
}

.con-info i,
.con-info span {
    float: left;
}

.con-info span {
	margin: -5px 0 0 15px;
}

.error {
    display: none;
    padding: 10px;
    color: #D8000C;
    border-radius: 4px;
    font-size: 13px;
    background-color: #FFBABA;
}

.success {
    background-color: #6cb670;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 13px;
    padding: 10px;
}

<!-- contact us -->
//



