.col-md-form{
	padding: 25pt;
	background-color: #9f6060;
	position: relative;
	left: 20%;
	border-radius: 5px;
}
body{
	
	 padding: 30pt;
	 font-family:
	 font-size: 22px;
	 background-color: #24313C;
	 color:#fff;
	 height: 2900pt;

}
.form-group a{
	list-style: none;
	text-decoration: none;
	color:#00ff00;
}
.form-group button,label{
	margin-bottom: 13px;
}
#contact{
	background-color: #8080ff;
	margin-top: 40px;
	border-radius: 5px;
}
.social-media{
	padding-bottom: 10px;
}
.col-md-footer span{
	color: red;
}