body{
	background-image: url("images/galaxy.jpg");
	
}
.col-md-form{
	padding: 30pt;
	color:	#4000ff;
	background-color: #ddd;
	margin-top: 20pt;
	border-radius: 5px;
	position: relative;
}
#contact{
	background-color: #003333;
	color: #fff;
	padding: 20pt;
	margin-top: 20pt;
	border-radius: 6px;
}